.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid lightgray;
  cursor: pointer;

  img {
    width: 20px;
    height: 20px;
  }
}

.primary {
  background: #007bff;
  color: whitesmoke;
}

.danger {
  background: #dc3545;
  color: whitesmoke;
}
